<mat-card class="container">
  <mat-horizontal-stepper>
    <mat-step label="Step 1">
      <table *ngFor="let transaction of ItemService.transactions" class="webkit-scrollbar container">
        <ng-container *ngIf="transaction.Quantity !== 0">
          <div>
            <td><img src="https://m-market-server.herokuapp.com{{transaction.Img}}" class="img"></td>
          </div>
          <ng-container>
            <td class="name">
              <h6>{{transaction.Name}}</h6>
            </td>
          </ng-container>
          <ng-container>
            <td class="price">
              <h6>{{transaction.Price| currency}}</h6>
            </td>
          </ng-container>
          <ng-container>
            <td class="price">
              <h6>{{transaction.Quantity}}</h6>
            </td>
          </ng-container>
        </ng-container>
      </table>
      <div>
        <button mat-flat-button color="primary" type="submit" matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Step 2" [stepControl]="order_step">
      <form (submit)="on_send()" [formGroup]="order_step">

        <div class="alert alert-primary" role="alert">
          <h6>You can double-click the same user information</h6>
        </div>

        <div class="form-group">
          <h5 for="City">City:</h5>
          <input matInput type="text" formControlName="City" value="{{DB_city}}"
            [ngClass]="{'is-invalid': order_step.get('City').touched && order_step.get('City').invalid}"
            class="form-control" placeholder="Enter City" (dblclick)="db_city()">
          <div *ngIf="order_step.get('City').touched && order_step.get('City').invalid" class="invalid-feedback">
            <div *ngIf="order_step.get('City').errors.required">City is required
            </div>
          </div>
        </div>

        <div class="form-group">
          <h5 for="Street">Street:</h5>
          <input matInput type="text" formControlName="Street" value="{{DB_street}}"
            [ngClass]="{'is-invalid': order_step.get('Street').touched && order_step.get('Street').invalid}"
            class="form-control" placeholder="Enter Street" (dblclick)="db_street()" value="{{DB_city}}">
          <div *ngIf="order_step.get('Street').touched && order_step.get('Street').invalid" class="invalid-feedback">
            <div *ngIf="order_step.get('Street').errors.required">Street is required
            </div>
          </div>
        </div>

        <div class="form-group">
          <h5 for="Order Date">Order Date:</h5>
          <mat-form-field>
            <input matInput [matDatepicker]="dp" formControlName="OrderDate" placeholder="Enter Date">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
          </mat-form-field>
          <div *ngIf="order_step.get('OrderDate').touched && order_step.get('OrderDate').invalid"
            class="invalid-feedback">
            <div *ngIf="order_step.get('OrderDate').errors.required">Order Date is required
            </div>
          </div>
        </div>

        <div class="form-group">
          <h5 for="CreditCard">Credit card:</h5>
          <input matInput type="text" formControlName="CreditCard"
            [ngClass]="{'is-invalid': order_step.get('CreditCard').touched && order_step.get('CreditCard').invalid}"
            class="form-control" placeholder="Enter CreditCard">
          <div *ngIf="order_step.get('CreditCard').touched && order_step.get('CreditCard').invalid"
            class="invalid-feedback">
            <div *ngIf="order_step.get('CreditCard').errors.required; else BlockPattern">CreditCard is
              required</div>
            <ng-template #BlockPattern>
              <div *ngIf="order_step.get('CreditCard').errors.pattern">Only number</div>
            </ng-template>
            <div *ngIf="order_step.get('CreditCard').errors.minlength; else BlockMaxLength">CreditCard
              must at least 12 charector</div>
            <ng-template #BlockMaxLength>
              <div *ngIf="order_step.get('CreditCard').errors.maxlength">CredittCard must be at Up o 12
                characters</div>
            </ng-template>
          </div>
        </div>
        <div *ngIf="error_msg === 'somting is missing'" class="alert alert-danger" role="alert">
          <h5>{{error_msg}}</h5>
        </div>
        <button mat-button type="submit" aria-label="Close" mat-flat-button color="primary" matStepperNext
          style="max-width: 200px;">SUBMIT</button>
      </form>
      <div>
        <button mat-raised-button matStepperPrevious color="warn">Back</button>
      </div>
    </mat-step>
    <mat-step label="Step 3">
      <ng-container *ngIf="OrderService.order.length !== 0; else elseOrder">
        <div class="alert alert-success" role="alert">
          <h5>Your purchase was successful</h5>
          <h6>Download the PDF file
            <a href="https://m-market-server.herokuapp.com/uploads/orders/{{UserService.user._id}}.pdf"
              download="M-MARKET.p">Click
              here</a>
          </h6>
        </div>
      </ng-container>
      <ng-template #elseOrder>
        <div class="alert alert-danger" role="alert">
          <!-- <h5 *ngIf="OrderService.order === msg">{{OrderService.order === msg}}</h5> -->
          <h5 *ngIf="error_msg">{{error_msg}}</h5>
          <h5>Try again</h5>
        </div>
      </ng-template>
    </mat-step>
  </mat-horizontal-stepper>
  <ng-container>
    <h5>Total:</h5>
    <h6>Amount: {{getTotalValue()}}</h6>
    <h6>Price: {{getTotalCost() | currency}}</h6>
    <h6 *ngIf="CartService.cart_date">Date: {{CartService.cart_date.CartDate | date: 'dd/MM/yyyy'}}</h6>
  </ng-container>
</mat-card>