<div class="row">
  <!-- PANEL B -->
  <div class="col-md-9">
    <h2>Hi this project is an online supermarket to start shopping and sign in you must sign up</h2>
  </div>
  <!-- PANEL C -->
  <div class="col-md-3">
    <mat-card class="example-card">
      <mat-card-content ngFor="let order of oreders">All orders {{order}}</mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-content ngFor="let product of products">All products {{product}}</mat-card-content>
    </mat-card>
  </div>
</div>