<div class="row">
  <!-- PANEL B -->
  <div class="col-md-9">
    <h6>Why you should buy in our store (writh here few words with picture)</h6>
  </div>
  <!-- PANEL C -->
  <div class="col-md-3">
    <mat-card class="example-card">
      <mat-card-content  ngFor="let order of oreders">All orders {{order}}</mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-content ngFor="let product of products">All products {{product}}</mat-card-content>
    </mat-card>
  </div>
</div>