.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;

}

.sidenav .mat-toolbar {
  background: rgb(248, 54, 54);
  
}

.mat-toolbar.mat-primary {
  position: sticky; 
  top: 0;
  z-index: 1;
  background: rgb(248, 54, 54);
  box-shadow: 1px 1px 1px grey;
}
:root {
  --visibility: visible;
}

::ng-deep .mat-sidenav {
  visibility:var(--visibility);
}
@media screen and (min-width: 600px) {
  .cart {
    width: 640px;
  }
  .search {
    width: 200px;
  }
}
@media screen and (max-width: 600px) {
  .cart {
    width: 240px;
  }
  .search {
    width: 200px;
  }
}