<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);" [routerLink]="['']" style="padding-right: 0px;
        padding-left: 0px;">
            <img src="../../assets/Market_Logo.jpg" style="height: 60%;">
        </mat-toolbar>
        <span style="margin-left: 20px; width: 100%;">contect us 123@gmail.com</span>
        <mat-nav-list *ngIf="!UserService.is_login; else loginBlock">
            <a mat-list-item [routerLink]="['']">
                <h3>Home</h3>
            </a>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h5>Sing-In</h5>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <form (submit)="On_Connect()" [formGroup]="login_form">
                        <div class="form-group">
                            <label for="username">
                                <h6>Enter your Username:</h6>
                            </label>
                            <input type="text" formControlName="username"
                                [ngClass]="{'is-invalid': login_form.get('username').touched && login_form.get('username').invalid}"
                                class="form-control" placeholder="Enter username">
                            <div *ngIf="login_form.get('username').touched && login_form.get('username').invalid"
                                class="invalid-feedback">
                                <div *ngIf="login_form.get('username').errors.required">
                                    <h6>Username is required</h6>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password">
                                <h6>Enter your Password:</h6>
                            </label>
                            <input type="password" formControlName="password"
                                [ngClass]="{'is-invalid': login_form.get('password').touched && login_form.get('password').invalid}"
                                class="form-control" placeholder="Enter password" autocomplete>
                            <div *ngIf="login_form.get('password').touched && login_form.get('password').invalid"
                                class="invalid-feedback">
                                <div *ngIf="login_form.get('password').errors.required">
                                    <h6>Password is required</h6>
                                </div>
                                <div *ngIf="login_form.get('password').errors.minlength">
                                    <h6>Password must be at least 8
                                        charector</h6>
                                </div>
                            </div>
                        </div>
                        <ng-container *ngIf="msg == 'Welcome'; else BlockMSG">
                            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                            <div class="alert alert-success" role="alert">{{msg}}</div>
                        </ng-container>
                        <ng-template #BlockMSG>
                            <div *ngIf="error_msg === 'somting is missing';" class="alert alert-danger" role="alert">
                                {{error_msg}}</div>
                        </ng-template>
                        <hr>
                        <button type="submit" mat-flat-button color="primary" [routerLink]="['']">Submit</button>
                    </form>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h5>Sing-Up</h5>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-horizontal-stepper linear #stepper>
                        <mat-step label="STEP 1" [stepControl]="singup_form_1">
                            <form (submit)="On_Send_1()" [formGroup]="singup_form_1">

                                <div class="form-group">
                                    <label for="Username">
                                        <h6>Enter your Username: </h6>
                                    </label>
                                    <input type="text" formControlName="Username"
                                        [ngClass]="{'is-invalid': singup_form_1.get('Username').touched && singup_form_1.get('Username').invalid}"
                                        class="form-control" placeholder="Enter Username">
                                    <div *ngIf="singup_form_1.get('Username').touched && singup_form_1.get('Username').invalid"
                                        class="invalid-feedback">
                                        <div *ngIf="singup_form_1.get('Username').errors.required">
                                            <h6>Username is required</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="Password">
                                        <h6>Enter your Password:</h6>
                                    </label>
                                    <input type="password" formControlName="Password"
                                        [ngClass]="{'is-invalid': singup_form_1.get('Password').touched && singup_form_1.get('Password').invalid}"
                                        class="form-control" placeholder="Enter Password" autocomplete>
                                    <div *ngIf="singup_form_1.get('Password').touched && singup_form_1.get('Password').invalid"
                                        class="invalid-feedback">
                                        <div *ngIf="singup_form_1.get('Password').errors.required">
                                            <h6>Password is required</h6>

                                        </div>
                                        <div *ngIf="singup_form_1.get('Password').errors.minlength">
                                            <h6>Password must be atleast 8 charector</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="ConfirmPassword">
                                        <h6>Enter Confirm-password:</h6>
                                    </label>
                                    <input type="password" formControlName="ConfirmPassword"
                                        [ngClass]="{'is-invalid': singup_form_1.get('ConfirmPassword').touched && singup_form_1.get('ConfirmPassword').invalid}"
                                        class="form-control" placeholder="Enter Confirm-password" autocomplete>
                                    <div *ngIf="singup_form_1.get('ConfirmPassword').touched && singup_form_1.get('ConfirmPassword').invalid"
                                        class="invalid-feedback">
                                        <div *ngIf="singup_form_1.get('ConfirmPassword').errors.required">
                                            <h6>Confirm-password is required</h6>
                                        </div>
                                        <div *ngIf="singup_form_1.get('ConfirmPassword').errors.minlength">
                                            <h6>Password must be at least 8 charector</h6>
                                        </div>
                                    </div>
                                    <div *ngIf="singup_form_1.value.ConfirmPassword !== singup_form_1.value.Password"
                                        style="color: red;">
                                        <h6>Confirm-password and Password Not similar</h6>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email">
                                        <h6>Enter your Email:</h6>
                                    </label>
                                    <input type="text" formControlName="Email"
                                        [ngClass]="{'is-invalid': singup_form_1.get('Email').touched && singup_form_1.get('Email').invalid}"
                                        class="form-control" placeholder="Enter Email">
                                    <div *ngIf="singup_form_1.get('Email').touched && singup_form_1.get('Email').invalid"
                                        class="invalid-feedback">
                                        <div *ngIf="singup_form_1.get('Email').errors.required">
                                            <h6>Email is
                                                required</h6>
                                        </div>
                                        <div *ngIf="singup_form_1.get('Email').errors.email">
                                            <h6>Email Must be
                                                '@'</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="ID">
                                        <h6>Enter your ID:</h6>
                                    </label>
                                    <input type="text" formControlName="ID"
                                        [ngClass]="{'is-invalid': singup_form_1.get('ID').touched && singup_form_1.get('ID').invalid}"
                                        class="form-control" placeholder="Enter ID">
                                    <div *ngIf="singup_form_1.get('ID').touched && singup_form_1.get('ID').invalid"
                                        class="invalid-feedback">
                                        <div *ngIf="singup_form_1.get('ID').errors.required; else BlockPattern">
                                            <h6>ID is required</h6>
                                        </div>
                                        <ng-template #BlockPattern>
                                            <div *ngIf="singup_form_1.get('ID').errors.pattern">
                                                <h6>Only number</h6>
                                            </div>
                                        </ng-template>
                                        <div *ngIf="singup_form_1.get('ID').errors.minlength; else BlockMaxLength">
                                            <h6>ID must at least 8 charector</h6>
                                        </div>
                                        <ng-template #BlockMaxLength>
                                            <div *ngIf="singup_form_1.get('ID').errors.maxlength">
                                                <h6>ID must be at Up to 10 characters</h6>
                                            </div>
                                        </ng-template>
                                    </div>
                                </div>
                                <br>
                                <div *ngIf="error_msg === 'somting is missing'" class="alert alert-danger" role="alert">
                                    {{error_msg}}
                                </div>
                                <hr>
                                <button mat-button type="submit" mat-flat-button color="primary"
                                    matStepperNext>Next</button>
                            </form>
                        </mat-step>
                        <mat-step label="STEP 2" [stepControl]="singup_form_2">
                            <form (submit)="On_Send_2()" [formGroup]="singup_form_2">

                                <div class="form-group">
                                    <label for="City">
                                        <h6>Enter your City:</h6>
                                    </label>
                                    <select formControlName="Citys" type="text" class="form-control" id="City"
                                        placeholder="Enter City">
                                        <option disabled>Choose your city</option>
                                        <option *ngFor="let city of citys" [ngValue]="city.name" [(ngModel)]="city.name"
                                            ngDefaultControl [ngModelOptions]="{standalone: true}">{{ city.name }}
                                        </option>
                                    </select>
                                    <div *ngIf="singup_form_2.get('Citys').touched && singup_form_2.get('Citys').invalid"
                                        class="invalid-feedback">
                                        <h6>Please fill out this field.</h6>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="Street">
                                        <h6>Enter your Street:</h6>
                                    </label>
                                    <input type="text" formControlName="Street"
                                        [ngClass]="{'is-invalid': singup_form_2.get('Street').touched && singup_form_2.get('Street').invalid}"
                                        class="form-control" placeholder="Enter Street">
                                    <div *ngIf="singup_form_2.get('Street').touched && singup_form_2.get('Street').invalid"
                                        class="invalid-feedback">
                                        <div *ngIf="singup_form_2.get('Street').errors.required">
                                            <h6>Street is required</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="Name">
                                        <h6>Enter your Name:</h6>
                                    </label>
                                    <input type="text" formControlName="Name"
                                        [ngClass]="{'is-invalid': singup_form_2.get('Name').touched && singup_form_2.get('Name').invalid}"
                                        class="form-control" placeholder="Enter Name">
                                    <div *ngIf="singup_form_2.get('Name').touched && singup_form_2.get('Name').invalid"
                                        class="invalid-feedback">
                                        <div *ngIf="singup_form_2.get('Name').errors.required">
                                            <h6>Name is required</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="LastName">
                                        <h6>Enter your LastName:</h6>
                                    </label>
                                    <input type="text" formControlName="LastName"
                                        [ngClass]="{'is-invalid': singup_form_2.get('LastName').touched && singup_form_2.get('LastName').invalid}"
                                        class="form-control" placeholder="Enter LastName">
                                    <div *ngIf="singup_form_2.get('LastName').touched && singup_form_2.get('LastName').invalid"
                                        class="invalid-feedback">
                                        <div *ngIf="singup_form_2.get('LastName').errors.required">
                                            <h6>LastName is required</h6>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <p *ngIf="register_msg; else else_msg" class="alert alert-danger">
                                    {{register_msg}}
                                </p>
                                <ng-template #else_msg>
                                    <p *ngIf="register_success;" class="alert alert-success">
                                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                                        {{register_success}}
                                    </p>
                                </ng-template>
                                <hr>
                                <button mat-button mat-flat-button color="warn" matStepperPrevious>Back</button>

                                <div
                                    *ngIf="singup_form_1.value.ConfirmPassword !== singup_form_1.value.Password; else elsevalid">
                                    <div style="color: red;">Confirm-password and Password Not similar</div>
                                </div>
                                <ng-template #elsevalid>
                                    <button mat-button type="submit" aria-label="Close" mat-flat-button
                                        color="primary">SUBMIT</button>
                                </ng-template>
                            </form>
                        </mat-step>
                    </mat-horizontal-stepper>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-nav-list>

        <ng-template #loginBlock>
            <mat-nav-list>
                <ng-container>
                    <h6>Hello {{UserService.username || UserService.user.UserName}}
                        <button style="margin-left: 90px; width: 130px " mat-stroked-button
                            (click)="sing_out()">Sing-Out</button>
                        <hr>
                    </h6>

                    <a mat-list-item [routerLink]="['']">
                        <h3>Home</h3>
                    </a>
                    <a mat-list-item [routerLink]="['product']">
                        <h3>Start Shopping</h3>
                    </a>
                    <ng-container *ngIf="UserService.is_admin; else elsecostomer">
                        <app-admin></app-admin>
                    </ng-container>
                    <ng-template #elsecostomer>
                        <app-costomer></app-costomer>
                    </ng-template>
                    <hr>
                </ng-container>
            </mat-nav-list>
        </ng-template>

    </mat-sidenav>
    <mat-sidenav-content #drawer>
        <mat-toolbar class="col-12 col-sm-12 col-md-12 col-lg-12" color="primary"
            style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
            <button class="col-2 col-sm-2 col-md-2 col-lg-2" type="button" aria-label="Toggle sidenav" mat-icon-button
                (click)="drawer.toggle()" *ngIf="isHandset$ | async" style="height: 53px;width: 65px;">
                <img src="https://img.icons8.com/material-rounded/48/000000/menu.png" />
            </button>
            <app-search class="col-8 col-sm-8 col-md-8 col-lg-8" style="padding-right: 0px;
            padding-left: 0px;"></app-search>
            <button class="col-2 col-sm-1 col-md-1 col-lg-1" style="margin-left: auto;" mat-icon-button
                aria-label="Example icon-button with a menu" *ngIf="UserService.is_login">
                <img src="https://img.icons8.com/material-outlined/48/000000/shopping-cart.png" />
            </button>
            <mat-menu #menu="matMenu">
                <app-cart></app-cart>
            </mat-menu>
        </mat-toolbar>
        <ng-container>
            <ng-content></ng-content>
        </ng-container>
        <div *ngIf="UserService.user_err">
            <app-page-not-found></app-page-not-found>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>