.example-container {
  height: 270px;
  overflow: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
  max-width: 248px;
}

.img {
  width: 55px;
}
.name {
  width: 50%;
}
.price {
  width: 35%;
}
tr.mat-footer-row {
  font-weight: bold;
}
.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}
.hover:hover {
  border-color: #b71c1c;
  border-width: 2px;
}
.button {
  width: 10px;
  height: 10px;
  margin-bottom: 10px;
}
.cart { 
  max-height: 400px;
  overflow: auto;
  width: 400px;
}