
.mat-form {
    font-size: 14px;
    width: 520px;
    margin-top: 15px;
    margin-left: 10px;
    height: 10px;
}
.img {
    width: 70px;
}
.name {
    width: 10%;
}
.price {
    width: 10%;
}
.div-table{
    max-height: 450px;
    overflow: auto;
    margin-left: 10px;
}
table {
    max-height: 450px;
    overflow: auto;
  }

.mat-cell {
    color: white;
}
.mat-table {
    background-color: rgba(0, 0, 0, 0.15);
    position: absolute;
    left: 0px;
    right: 0px;
    width: 375px;
}
.row {
    width: 730px;
}
table tr {
    width: 20px;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
    width: 540px;
    position: absolute;
}
@media screen and (max-width: 600px) {
    .row {
        width: 100%;
    }
    .mat-form { 
        width: auto;
    }
    .div-table{ 
        width: 250px;
    }
    .img {
        width: 70px;
    }
    .name {
        width: 10%;
    }
    .price {
        width: 10%;
    }
    table tr {
        width: 20px;
    }
}
.mat-form-field-wrapper{
    width: 50%;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline{
    background-color: #fafafafa;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
    bottom: 45px;
}